<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logistic Task</title>
</head>
<body>
    <h1>Welcome user to logistic regression classification probelm:</h1>
    <ol>Here we will use some python ,machine learning alogorithm also the internal steps are 
        <li>data set must be downloaded in same level of file location</li>
        <li>data cleaning</li>
        <li>data combining</li>
        <li>Now using the logistic regression for prediction</li>
        <li>Using saga, sag, newton as solver because multiclass classification problem is this</li>
        
    </ol>
    <h3>To start click below on submit</h3>
    <a href="">Submit</a>
      
</body>
</html>